.chef-container {
  text-align: center;
  // padding: 10px;
  margin-bottom: 120px;
  max-width: 1040px;
  .chef-info {
    gap: 70px;
    @include for-mobile-layout {
      flex-direction: column;
      align-items: center;
      p {
        max-width: 325px;
        text-align: center;
      }
    }
    img {
      @include for-mobile-layout {
        max-width: 335px;
        max-height: 240px;
      }
      max-width: 430px;
      max-height: 340px;
    }
  }
  p {
    @include for-mobile-layout {
      font-size: 1.1rem;
    }
    text-align: left;
    font-size: 1.8rem;
    max-width: 540px;
  }
  .chef-res-container {
    max-width: 1040px;
    width: 100%;
    margin-top: 60px;
    .chef-res-title {
      @include for-mobile-layout {
        text-align: left;
        font-size: 1.2rem;
      }
      text-align: left;
      font-size: 2.4rem;
    }
  }
}
