@font-face {
  font-family: HelveticaNeue; // all text besides headers and titles
  src: url(../../assets/fonts/Pragmatica-ExtraLight.ttf);
}

@font-face {
  //titles (inspiration for your next trip....)
  font-family: HelveticaNeue-Thin;
  src: url(../../assets/fonts/HelveticaNeueUltraLight.ttf);
}
