// COLOR PALLETE
$white: #ffffff;
$black: #000000;
$pumpkin-90: #de9200;
$beige: #f9f4ea;
$sand-80: #e8c47a;
$brown-grey: #979797;
$light-tan: #f7e0b2;

//LAYOUT
$layoutPadding: 80px;

//LAYOUT-HOME
$layoutPaddingHome: 150px;

// LAYOUT-DETAILS
$layoutPaddingDetails: 230px;
$layoutimgsheight: 390px;
$layoutimgswidth: 1120px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 980px;


